$first: red;
$sec: blue;

html{
    font-family: generalFont;
}

.container{
    color: $first;
    &__header{
        color: $first;
    }
    &__paragraph{
        color: $sec;
        display: block;
        background: url("../images/house.png");
        height: 520px;
    }
}

