include pug/libs/_libs

doctype html
html(lang='ru')
include pug/_head
  body
    .container
      h1.container__header hello from webpack
      p.container__paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, pariatur?
      +image("frog.png")